<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container-fluid">
    <a
      routerLink="/"
      class="navbar-brand">Angular Samples</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

    </button>
  
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">

        <ng-container *ngFor="let navRoute of navRoutes">

          <li
            *ngIf="!navRoute.dropdownItems"
            class="nav-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: navRoute.isActiveExact }">

            <a
              class="nav-link"
              [routerLink]="navRoute.link">
              {{ navRoute.title }}
            </a>

          </li>

          <li
            *ngIf="navRoute.dropdownItems"
            class="nav-item dropdown"
            routerLinkActive="active"
          >

            <a
              class="nav-link dropdown-toggle"
              [id]="'navbarDropdown-' + navRoute.title"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              aria-label="Toggle navigation">
              {{ navRoute.title }}
            </a>

            <div class="dropdown-menu">

              <a
                *ngFor="let dropdownItem of navRoute.dropdownItems"
                class="dropdown-item"
                [routerLink]="navRoute.link + dropdownItem.link"
                routerLinkActive="active">
                {{ dropdownItem.title }}
              </a>

            </div>

          </li>

        </ng-container>

      </ul>
    </div>
  </div>
</nav>
