<div class="container">

  <h1>Template Driven Form</h1>
  <p class="mb-5">With template driven forms, two-way data binding is achieved with the use of <code>[(ngModel)]</code></p>
  
  <div class="card mb-5">

    <div class="card-body">

      <h4 class="card-title">Nametag Generator</h4>
      <p class="mb-5">Fill out the fields to watch the nametag dynamically change below.</p>

      <form>

        <div class="form-group">
          <label for="name">Name</label>
          <input 
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="nametag.name"
            name="name">
        </div>

        <div class="form-group">
          <label for="favColor">Favorite Color</label>
          <select
            class="form-control" 
            id="power"
            required
            [(ngModel)]="nametag.color"
            name="power">

            <option value="#fff"></option>
            <option
              *ngFor="let color of colors"
              [value]="color.hexCode">
              {{ color.name }}
            </option>
          </select>
        </div>

      </form>

    </div>
  </div>

  <div
    class="card"
    [ngStyle]="{'background-color': nametag.color}">

    <div class="card-body">

      <div class="card-title text-left mb-5">
        <span class="h5 nametag-text">Hi! My name is</span>
      </div>
      <div class="card-text">
        <span class="h1 nametag-text">{{ nametag.name }}</span>
      </div>

    </div>
  </div>

</div>
